.burger {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1201;
}

.burger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  .burger {
    display: flex;
  }

  .burger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 70vw;
    max-width: 340px;
    background: #333;
    flex-direction: column;
    gap: 34px;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 26px 20px;
    transition: right 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: -6px 0 24px rgba(0, 0, 0, 0.12);
    z-index: 1100;
  }

  .nav-links.open {
    right: 0;
  }

  .nav-links li {
    display: block;
    width: 100%;
  }

  .nav-links a {
    padding: 6px 0;
    width: 100%;
    display: block;
  }
  
  .navbar {
    height: 80px;
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 100%;
    margin: 100px 1rem 2rem 1rem;
  }

  .footer {
    padding: 60px 2vw 20px 2vw;
  }
}
