* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.copyright {
  font-size: 1.2rem;
}

a {
  font-size: 1.5rem;
  font-weight: 300;
  color: #daa000;
}

i {
  font-size: 2rem;
}

.copyright a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 1.5rem;
}

li {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
}

li::marker {
  color: #c0c0c0;
}

small {
  font-size: 1rem;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 1200;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  transition: none;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #f9c846;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 0.5rem;
  margin: 140px 1rem 2rem 1rem;
}

.footer {
  background: #333;
  color: white;
  padding: 100px 20px 50px 20px;
  text-align: center;
}

.footer .social {
  margin-bottom: 20px;
}

.footer .social a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .social a:hover,
.footer .social a.active {
  color: #f9c846;
}

