:root {
--base-font-size: 1.5rem;
--font-size-xl: 2.5rem;
--heading-h2-font-weight: 300;
--font-size-l: 2rem;
--heading-h3-font-weight: 300;
--link-color: #daa000;
--blockquote-padding: 1rem 1rem;
--blockquote-font-style: italic;
--blockquote-border-color: white;
}